module Stripe
  class CheckoutSessionCompleted < Base
    def process!
      # payload["data"]["object"]["id"]                  # session ID
      # payload["data"]["object"]["customer"]            # customer ID
      # payload["data"]["object"]["client_reference_id"] # your internal reference
      # payload["data"]["object"]["amount_total"]        # amount in cents

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
