module Stripe
  class CheckoutSessionCompleted < Base
    def process!
      # TODO: Add business logic
      # session = Stripe::Checkout::Session.retrieve(session_id) # this assumes the Stripe gem is available

      @webhook_event.processed!
    end

    private

    def session_id = payload.dig("data", "object", "id")
  end
end
