module Stripe
  class CustomerSubscriptionDeleted < Base
    def process!
      # payload["data"]["object"]["id"]       # subscription ID
      # payload["data"]["object"]["customer"] # customer ID

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
