module Stripe
  class CustomerSubscriptionDeleted < Base
    def process!
      subscription_id = payload.dig("data", "object", "id")

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
