module Stripe
  class PaymentIntentSucceeded < Base
    def process!
      # TODO: Add business logic

      @webhook_event.processed!
    end

    private

    def payment_intent_id = payload["data"]["object"]["id"]
  end
end
