module Stripe
  class PaymentIntentSucceeded < Base
    def process!
      # payload["data"]["object"]["id"]       # payment intent ID
      # payload["data"]["object"]["amount"]   # amount in cents
      # payload["data"]["object"]["customer"] # customer ID
      # payload["data"]["object"]["currency"] # e.g., "usd"

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
