module <%= provider_module_name %>
  class EmailBounced < Base
    def process!
      # payload["to"]          # recipient email
      # payload["bounce_type"] # e.g., "hard", "soft"

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
