module <%= provider_module_name %>
  class InstallationCreated < Base
    def process!
      # payload["installation"]["id"]      # GitHub app installation ID
      # payload["installation"]["account"] # user/org that installed

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
