module <%= provider_module_name %>
  class Push < Base
    def process!
      # payload["ref"]                     # git ref (e.g., "refs/heads/main")
      # payload["repository"]["full_name"] # "owner/repo"

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
