module <%= provider_module_name %>
  class StarCreated < Base
    def process!
      # payload["repository"]["full_name"] # "owner/repo"
      # payload["sender"]["login"]         # user who starred

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
